.container {
  display: inline-block;
  margin: 20px;
  min-height: 100vh;
}

.textbottom2 {
display: none;
}

.textbottom2.visible {
display: flex;
}

.zoomAbout2 {
  cursor: pointer;
  transition: transform .3s; 
  color: white; 
  margin: 0 auto; 
  opacity: 0.6;
}

.zoomAbout2:hover {
  transform: scale(1.2); 
  color: #DDD50E; 
  opacity: 1;
}
